.chart-support{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    bottom: 50px;
    right: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

