/* THEME VARIABLES */
[data-theme="dark"] {
  --sidebar-bg: #1e293b;
  --text-color: #ffffff;
  --hover-bg: rgba(255,255,255,0.15);
}

[data-theme="light"] {
  --sidebar-bg: #f8f9fa;
  --text-color: #212529;
  --hover-bg: rgba(0,0,0,0.1);
}

/* SIDEBAR */
.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* LINKS */
.sidebar-link {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  border-radius: 6px;
  color: var(--text-color) !important;
  transition: all 0.25s ease;
}

.sidebar-link:hover {
  background-color: var(--hover-bg);
  padding-left: 18px;
}

.sidebar-link.active {
  background-color: var(--hover-bg);
  font-weight: 500;
}

/* ICON */
.sidebar-icon {
  min-width: 24px;
  text-align: center;
  font-size: 18px;
}

/* TEXT ANIMATION */
.sidebar-text {
  white-space: nowrap;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.sidebar-text.hide {
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
}

.sidebar-text.show {
  opacity: 1;
  transform: translateX(0);
}
.nav-link{
  display: flex !important;
  gap: 5px;
}